td, th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    }
    
table {
    width: 400px;
    border-collapse: collapse;
    }

tbody > tr:nth-child(odd){
    background-color: lightgray;
    }

div#contanier{

    overflow-x: auto;
}
        
    