@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{

    --fontePrincipal: "Righteous", sans-serif;
    --fonteTitulo:  "Afacad Flux", sans-serif;
    --fonteRegular: "Poppins", sans-serif;
    --corPrincipal: #FF2001;
    --corSegundaria: #211545;
    --corRosa: #DB1137;
    --corRoxo: #791EEB;
    --corHover: rgba(143, 140, 140, 0.11);
    --corBasica: white; 
}


div#roxo{
    display: block;
    background-color: var(--corSegundaria);
    padding: 90px;
    padding-bottom: 130px;
    margin-bottom: 300px;
  
    
}


.evenly{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.funcion1{
  /* border: 2px solid green;*/
    color: black;
    font-family: var(--fonteTitulo);
    font-size: 51px;
    padding: 15px;



}

.funcion2{
  /*  border: 2px solid black;*/
    color: black;
    font-size: 16px;
    font-family: var(--fonteRegular);
    font-weight: normal;
    text-align: center;
    padding: 20px;
}

#paddingDiferente{
    padding-top: 50px;
}

#paddingDiferente2{
    padding-top: 5px;
}

.quadrado{
    position: relative;
    color: rgba(164, 116, 227, 0.247);
    background-color: rgba(164, 116, 227, 0.247);
    border-radius: 30px;
    width: 350px;
    height: 276px;
    text-align: center;
    align-items: center;
    margin: 20px;
}



/*


#funcionalidades h3.tela{
    margin-left: 90px;
}

#funcionalidades{
    margin-top: 450px;
}


.evenly{
 
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-evenly;
    
}

.funcion1{
  
    color: white;
    font-family: var(--fonteTitulo);
    width: 300px;
    height: 92px;
    font-size: 51px;
    margin-bottom: 40px;
    margin-top: 90px;

}

#widthDiferente{
    width: 350px;
}

#translate{
    transform: translate(5%,42%);
}

.evenly b{
 
    display: flex;
    width: 300px;
    justify-content:center;
    
}

.funcion2{
 
    color: white;
    width: 292px;
    font-size: 16px;
    font-family: var(--fonteRegular);
    font-weight: normal;
}

.conteudo{
    max-width: 1000px;
}

.quadrado{
    position: absolute;
    color: rgba(164, 116, 227, 0.247);
    background-color: rgba(164, 116, 227, 0.247);
    border-radius: 30px;
    width: 347px;
    height: 276px;
    transform: translateY(-56%);
}*/